/* For Mobile L */
@media screen and (max-width: 425px) {
  /* * {
    max-width: 425px;
  } */
  nav,
  .nav-gamer-options,
  .nav-gamer-options ul,
  .banner,
  .gamer-area,
  .online-games-img-container,
  .play-instant,
  .btn-area-1,
  .btn-area-2 {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  /* .nav-box {
    width: 100%;
  } */

  .nav-gamer-options {
    padding-top: 2rem;
  }

  .nav-gamer-options .follow-us p {
    padding-right: 0;
  }

  .banner-content {
    width: 100%;
    padding: 1rem;
  }

  .banner-content-goat {
    font-size: 4.5rem;
  }

  .banner-img img {
    width: 100%;
  }

  .gamer-area-img img {
    max-width: 100%;
  }

  .gamer-area-content-description {
    width: 24rem;
  }

  .online-games {
    text-align: center;
  }

  .online-games-description {
    padding: 1rem;
  }

  .play-instant {
    margin-top: 0;
    display: flex;
    gap: 5rem;
  }

  .play-instant-content {
    padding: 1px;
  }

  .play-instant-title {
    padding-left: 13rem;
    text-align: center;
    margin-top: 5rem;
  }

  .play-instant-description {
    text-align: center;
    width: 25rem;
    padding-right: 11rem;
  }

  .play-instant-img img {
    width: 80%;
    padding-left: 5rem;
  }

  .play-instant-img-dance img {
    width: 40%;
    position: relative;
    bottom: 8rem;
    right: 5rem;
  }

  .btn-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .btn-area-1,
  .btn-area-2 {
    flex-direction: column;
  }

  .tag ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .social-media ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .extra-info ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .foot {
    padding-left: 10rem;
    padding-right: 13rem;
  }
}

/* For Tablet */
@media screen and (max-width: 768px) {
  /* * {
    max-width: 425px;
  } */
  nav,
  .nav-gamer-options,
  .nav-gamer-options ul,
  .banner,
  .gamer-area,
  .online-games-img-container,
  .play-instant,
  .btn-area-1,
  .btn-area-2 {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  /* .nav-box {
    width: 100%;
  } */

  .nav-gamer-options {
    padding-top: 2rem;
  }

  /* .nav-gamer-options .follow-us p {
    padding-right: 0;
  } */

  .banner-content {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .banner-content-points {
    align-items: center;
    justify-content: center;
  }

  .banner-content-goat {
    font-size: 5.9375rem;
  }

  .banner-img img {
    width: 100%;
  }

  .gamer-area-img img {
    max-width: 100%;
  }

  .gamer-area-content {
    width: 100%;
    text-align: center;
  }

  .gamer-area-content-description {
    padding-left: 6rem;
  }
  .gamer-area-content-qoutes {
    margin-top: 3.7rem;
  }

  .online-games {
    text-align: center;
  }

  .play-instant {
    max-width: 768px;
    margin-top: 0;
    display: flex;
    gap: 5rem;
  }

  .play-instant-content {
    padding: 1px;
  }

  .play-instant-title {
    padding-left: 14rem;
    text-align: center;
    margin-top: 5rem;
  }

  .play-instant-description {
    text-align: center;
    width: 26rem;
    padding-right: 25rem;
  }

  .play-instant-img img {
    width: 70%;
    padding-left: 7rem;
  }

  .play-instant-img-dance img {
    width: 40%;
    position: relative;
    bottom: 15rem;
    right: 8rem;
  }

  .btn-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .btn-area-1,
  .btn-area-2 {
    flex-direction: column;
  }
}

/* For Mobile M */
/* @media screen and (min-width: 576px) and (max-width: 768px) {
  nav,
  .nav-gamer-options,
  .nav-gamer-options ul,
  .banner {
    padding: 1rem;
    flex-direction: column;
  }

  .nav-gamer-title {
    padding-left: 2.4rem;
  }

  .nav-gamer-options {
    padding-top: 2rem;
  }

  .follow-us p {
    padding-right: 0;
  }

  .banner-content {
    width: 100%;
    padding: 1rem;
  }

  .banner-content-goat {
    font-size: 4.5rem;
  }

  .banner-img img {
    width: 100%;
  }
} */

/* For Mobile L */
/* @media screen and (min-width: 768px) and (max-width: 992px) {
  nav,
  .nav-gamer-options,
  .nav-gamer-options ul,
  .banner {
    padding: 1rem;
    flex-direction: column;
  }

  .nav-gamer-title {
    padding-left: 3rem;
  }

  .nav-gamer-options {
    padding-top: 2rem;
  }

  .follow-us p {
    padding-left: 2.7rem;
  }

  .banner-content {
    width: 100%;
    padding: 1rem;
  }

  .banner-content-goat {
    font-size: 4.5rem;
  }

  .banner-img img {
    width: 100%;
  }
} */

/* For Tablet */
/* @media screen and (min-width: 992px) and (max-width: 1200px) {
  nav,
  .nav-gamer-options,
  .nav-gamer-options ul,
  .banner {
    padding: 2rem 5rem;
    flex-direction: column;
  }

  .nav-gamer-title {
    padding-left: 11rem;
  }

  .nav-gamer-options {
    padding-top: 2rem;
  }

  .follow-us p {
    padding-left: 5.5rem;
  }

  .banner-content {
    width: 1000%;
    padding: 1rem;
  }

  .banner-content-goat {
    font-size: 5.9375rem;
  }

  .banner-img img {
    width: 100%;
  }
} */
