/* Work sans font imported from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Universal Style */

* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.gamer-area,
.online-games,
.play-instant,
.btn-area {
  max-width: 1440px;
  margin: 0 auto;
}

/* Nav Styles */

nav {
  padding: 2.5rem 15rem;
  display: flex;
  justify-content: space-between;
}

.nav-box {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-gamer-title {
  display: flex;
  align-items: center;
}

.nav-gamer-title img {
  height: 70%;
}

.nav-gamer-title .gamer-style {
  color: #0b0223;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-left: 1.25rem;
}

.nav-gamer-title .gamer-style .gamer-style-g {
  color: #ff42a5;
}

.nav-gamer-options {
  display: flex;
  gap: 2rem;
}

.nav-gamer-options ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-gamer-options li {
  list-style: none;
}

.nav-gamer-options li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.follow-us {
  display: flex;
  /* gap: 1.5rem; */
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.125rem 1.5rem;
}

.follow-us p {
  padding-right: 1rem;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.follow-us a {
  padding-left: 1rem;
}

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
  margin-top: 1.25rem;
}
.banner-content {
  width: 70%;
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  padding-left: 15rem;
  padding-top: 9.25rem;
}

.banner-content-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

.banner-content-goat {
  font-size: 5.9375rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}

.banner-content-points {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 1.5rem 3.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.btn-rogue {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 1.5rem 3.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.banner-img {
  width: 100%;
}

/* Gamer Area styles */

.gamer-area {
  display: flex;
  margin-top: 3.5rem;
  justify-content: flex-end;
  gap: 3.25rem;
}

.gamer-area-img {
  max-width: 100%;
}

.gamer-area-content {
  width: 100%;
  text-align: end;
}

.gamer-area-content-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

.gamer-area-content-description {
  width: 32.5rem;
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
}

.gamer-area-content-qoutes {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.gamer-area-content-qoutes-large {
  font-size: 2rem;
  font-weight: 700;
}

/* Online Games style */

.online-games {
  margin-top: 7.5rem;
}

.online-games-content {
  text-align: center;
}

.online-games-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}

.online-games-title-funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-games-description {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.online-games-img-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.watch-now {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.watch-now img {
  display: block;
  /* width: 100%;
  height: auto; */
}

.watch-now .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay p {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.watch-now:hover .overlay {
  opacity: 1;
}

.online-games-img > p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

/* Play Instant styles */

.play-instant {
  margin-top: 7.5rem;
  display: flex;
  gap: 16.5625rem;
}

.play-instant-title {
  width: 21.5rem;
  text-align: end;
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 13.5rem;
  padding-left: 12rem;
}

.play-instant-title-fancy {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instant-description {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: end;
  margin-top: 1.5rem;
  width: 22.0625rem;
  padding-left: 11.6875rem;
}

.play-instant-img-dance {
  border-radius: 8px;
  border: 10px solid #fff;
}

.play-instant-img-dance img {
  position: relative;
  bottom: 18.0625rem;
  right: 10.8125rem;
}

/* Button Area Style */

.btn-area {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}

.btn-area-1,
.btn-area-2 {
  display: flex;
  gap: 2.75rem;
}

.btn-area-2 {
  padding-left: 5.375rem;
}

.btn-title > .nice-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid rebeccapurple; */
  border-radius: 50px;
  background: #fff;
  border: 0;
  color: #0b0223;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: all ease;
}

.btn-title > .nice-btn:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #ff42a5;
}

.nice-btn > img {
  padding: 0.625rem 0 0.625rem 0.625rem;
}

.nice-btn > p {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  margin-right: 1.25rem;
}

/* Footer styles */

footer {
  background: #0b0223;
}

.foot {
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 30rem;
  padding-right: 30rem;
  text-align: center;
}

.foot-gamer-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-gamer-style {
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-left: 1.25rem;
}

.foot-style-g {
  color: #ff42a5;
}

.tag {
  display: grid;
  margin-top: 4.5rem;
  margin-bottom: 4.125rem;
  justify-content: center;
  /* gap: 2rem; */
}

.tag ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3.75rem;
  align-items: center;
}

.tag li {
  list-style: none;
}

.tag li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}

.social-media {
  display: grid;
  margin-top: 4.5rem;
  margin-bottom: 4.125rem;
  justify-content: center;
  /* gap: 2rem; */
}

.social-media ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3.75rem;
  align-items: center;
}

.social-media li {
  list-style: none;
}

.social-media li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}

.extra-info {
  display: grid;
  margin-top: 4.5rem;
  margin-bottom: 4.125rem;
  justify-content: center;
  /* gap: 2rem; */
}

.extra-info ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.75rem;
  align-items: center;
}

.extra-info li {
  list-style: none;
}

.extra-info li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 600;
}

.copywrite {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 600;
  width: 4rem;
  padding: 0;
}

/* .gamer-area {
  display: none;
} */

/* main {
  display: none;
} */
